* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: rgba(255, 255, 255, 1);
}

.container,
.notes {
  width: 86%;
  max-width: 1360px;
  margin: 0 auto;
}

/* buttons */
.btn {
  color: rgba(255, 255, 255, 1);
  background-color: #30b868;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.banner .banner-container .btn-2 {
  width: 240px;
  height: 36px;
  color: #30b868;
  background-color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
}

.btn,
.btn-2,
.btn-3 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.btn-3 {
  background: none;
  color: rgba(255, 255, 255, 1);
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.btn img,
.btn-2 img,
.btn-3 img {
  width: 20px;
  height: 20px;
  display: block;
}

/* Navbar Style*/
nav {
  max-width: 1600px;
  max-height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}

nav .logo img {
  width: 139px;
  height: 60px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
}
nav ul a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}

/* banner style */
.banner {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 115px 120px;
}

.banner-container .banner-buttons .banner-button-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.banner .banner-container .banner-heading1 {
  color: rgba(255, 255, 255, 1);
  font-size: 72px;
}
.banner .banner-container .banner-heading2 {
  color: #30b868;
  font-size: 72px;
}

.banner .banner-container p {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
}

/* Notes section */

.notes-text {
  text-align: center;
  margin: 44px 0;
}

.notes-heading h1 {
  font-size: 48px;
  color: #001931;
}
.notes-heading P {
  margin-top: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
.card_container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.card_items {
  width: 322px;
  height: 300px;
  padding: 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.card_items .note-image {
  height: 60px;
  width: 60px;
  background-color: rgba(249, 85, 85, 1);
  border-radius: 50%;
}
.notes .card_items img {
  height: 32px;
  width: 32px;
  margin: 14px 14px;
}
.card_items h4 {
  color: #001931;
  font-size: 24px;
  font-weight: 600;
}
.card_items p {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
}
