* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: rgba(255, 255, 255, 1);
}

.container {
  width: 86%;
  max-width: 1360px;
  margin: auto;
}
.btn {
  color: rgba(255, 255, 255, 1);
  background-color: #30b868;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* header styling */
nav {
  max-width: 1600px;
  max-height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}

nav .logo img {
  width: 139px;
  height: 60px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
}
nav ul a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}
