/* Sharing styles */

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: rgba(255, 255, 255, 1);
}
.container,
.notes,
.second-brain,
.early-access-section,
.footer_container {
  width: 86%;
  max-width: 1360px;
  margin: 0 auto;
}

/* buttons */
.btn {
  color: rgba(255, 255, 255, 1);
  background-color: #30b868;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.banner .banner-container .btn-2 {
  width: 240px;
  height: 36px;
  color: #30b868;
  background-color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
}
.btn,
.btn-2,
.btn-3 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
.btn-3 {
  background: none;
  color: rgba(255, 255, 255, 1);
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.btn img,
.btn-2 img,
.btn-3 img {
  width: 20px;
  height: 20px;
  display: block;
}

/* Hover effects for buttons */
.btn:hover {
  background-color: #0e793d;
}
.btn-3:hover {
  background-color: #242424;
}

/* Navbar Style*/
nav {
  max-width: 1600px;
  max-height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}
nav .logo img {
  width: 139px;
  height: 60px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
}
nav ul a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}

/* banner style */
.banner {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 115px 120px;
}
.banner-container .banner-buttons .banner-button-container {
  display: flex;
  gap: 16px;
  align-items: center;
}
.banner .banner-container .banner-heading1 {
  color: rgba(255, 255, 255, 1);
  font-size: 72px;
}
.banner .banner-container .banner-heading2 {
  color: #30b868;
  font-size: 72px;
}
.banner .banner-container p {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
}

/* Notes section */
.notes-text {
  text-align: center;
  margin: 44px 0;
}
.notes-heading h1 {
  font-size: 48px;
  color: #001931;
}
.notes-heading P {
  margin-top: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
.card_container {
  display: flex;
  align-items: center;
  gap: 24px;
}
.card_items {
  width: 322px;
  height: 300px;
  padding: 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.card_items .note-image {
  height: 60px;
  width: 60px;
  background-color: rgba(249, 85, 85, 1);
  border-radius: 50%;
}
.notes .card_items img {
  height: 32px;
  width: 32px;
  margin: 14px 14px;
}
.card_items h4 {
  color: #001931;
  font-size: 24px;
  font-weight: 600;
}
.card_items p {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
}

/* Second-Brain Section  */
.second-brain-container {
  display: flex;
  align-items: center;
  padding: 120px;
  gap: 60px;
}
.second-brain-container .knowledge-image-container img {
  width: 600px;
  height: 600px;
}
.second-brain-right-container {
  margin: 120px 0;
  width: 700px;
  height: 397px;
}
.second-brain-right-upper-container .first-title-paragraph {
  color: #30b868;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 16px;
  text-align: left;
}
.second-brain-right-upper-container .second-title-paragraph {
  font-size: 48px;
  color: #001931;
  font-weight: bold;
  text-align: left;
  margin-bottom: 16px;
}
.second-brain-right-upper-container .third-title-paragraph {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  margin-bottom: 40px;
}
.second-brain-right-lower-container ul li img {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
.second-brain-right-container .second-brain-right-lower-container ul li {
  color: #001931;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  align-items: center;
}

/* Early Access Section */
.early-access-section {
  min-height: 384px;
  background-color: rgba(247, 246, 242, 1);
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.early-access-section .early-access-text h2 {
  color: #001931;
  font-size: 40px;
  margin-bottom: 16px;
}
.early-access-section .early-access-text p {
  font-size: 16px;
  color: #627382;
  line-height: 24px;
  margin-bottom: 24px;
}
.early-access-section .early-access-button-info p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  margin-top: 16px;
}

/* Footer section */
footer {
  background-color: #001931;
  width: 100%;
  max-width: 1600px;
}
.footer_container {
  display: flex;
  flex-direction: column;
  padding: 120px 120px 30px 120px;
  gap: 60px;
  align-items: center;
  justify-content: center;
}
.footer_container .footer_upper-section {
  display: flex;
  align-items: center;
  gap: 780px;
  border-bottom: 1px solid #313539;
  padding-bottom: 30px;
}
.footer_container .footer_upper-section .footer_logo {
  width: 350px;
  display: flex;
  align-items: center;
}
.footer_container .footer_upper-section img {
  width: 139px;
  height: 60px;
  height: 60px;
  margin: 0 auto;
}
footer .footer_container .footer_upper-section .social {
  width: 220px;
  height: 64px;
  text-align: center;
}
footer .footer_container .footer_upper-section .social h4 {
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
footer .footer_container .footer_upper-section .social ul {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 16px;
}
.footer_container .footer_upper-section .social ul li {
  background-color: #ffffff;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.footer_container .footer-lower-section {
  text-align: center;
}
.footer-copyright {
  color: #fafafa;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
